default_language_version:
    python: python3

repos:
-   repo: https://github.com/pre-commit/mirrors-isort
    rev: v4.3.21
    hooks:
      - id: isort
        args: ["--ignore-whitespace", "--settings-path", "./", "--recursive"]

- repo: https://github.com/trustlines-protocol/more-pre-commit-hooks.git
  rev: 1edc6d3ab9380e17eb01a601551283cf7bc23f2b
  hooks:
    - id: shfmt
    - id: shellcheck
      exclude: ^docker/parity_wrapper.sh$

-   repo: https://github.com/trustlines-protocol/prettier
    rev: 804db34393002d572b49ab493ccb12248ae6cb3c
    hooks:
      - id: prettier
        entry: prettier --write --list-different
        files: "\\.sol$"

-   repo: https://github.com/psf/black
    rev: 19.3b0
    hooks:
    - id: black

-   repo: git://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    - id: check-added-large-files
    - id: check-ast
    - id: check-byte-order-marker
    - id: check-case-conflict
    - id: check-json
    - id: check-merge-conflict
    - id: check-yaml
    - id: debug-statements
    - id: end-of-file-fixer
      exclude: ^contracts/contracts/lib/.*\.sol|contracts/contracts/token/TrustlinesNetworkToken.sol|tools/bridge/.bumpversion.cfg$
    - id: flake8
      additional_dependencies: ["flake8-string-format", "pep8-naming"]
    - id: trailing-whitespace
      exclude: ^(contracts/contracts/lib/.*\.sol|tools/bridge/.bumpversion.cfg)$
    - id: no-commit-to-branch
      args: [--branch, develop, --branch, master]
-   repo: https://github.com/schmir/ethlint-pre-commit.git
    rev: ceedc72aa232b9391840256c7781226a3e238b1a
    hooks:
    - id: ethlint
      exclude: ^contracts/contracts/lib/|^contracts/contracts/reward-contract/
      args: ["--config", "contracts/.soliumrc.json"]
