version: 2.1

executors:
  ubuntu-builder:
    docker:
      - image: trustlines/builder:master21
        environment:
          - SOLC_VERSION=v0.5.8
    working_directory: ~/repo

# define some common commands
# see https://circleci.com/docs/2.0/configuration-reference/#commands-requires-version-21
commands:
  config-contracts-path:
    description: "Set environment variables and change PATH for contracts"
    steps:
    - run:
        name: Configuring PATH
        command: |
          echo 'export PATH=~/bin:~/repo/contracts-venv/bin:${PATH}; . ~/.nvm/nvm.sh' >> ${BASH_ENV}
          echo 'export VIRTUAL_ENV=~/repo/contracts-venv' >> ${BASH_ENV}

  create-venv:
    description: "Create venv"
    steps:
      - run:
          name: Create python virtualenv
          command: |
            make setup-venv
            pip install -c constraints.txt pip wheel setuptools

  config-auction-path:
    description: "Set environment variables and change PATH for auction"
    steps:
      - run:
          name: Configuring PATH
          command: |
            echo 'export PATH=~/bin:~/repo/auction-venv/bin:${PATH}; . ~/.nvm/nvm.sh' >> ${BASH_ENV}
            echo 'export VIRTUAL_ENV=~/repo/auction-venv' >> ${BASH_ENV}

  config-validator-set-path:
    description: "Set environment variables and change PATH for validator-set"
    steps:
      - run:
          name: Configuring PATH
          command: |
            echo 'export PATH=~/bin:~/repo/validator-set-venv/bin:${PATH}; . ~/.nvm/nvm.sh' >> ${BASH_ENV}
            echo 'export VIRTUAL_ENV=~/repo/validator-set-venv' >> ${BASH_ENV}

  config-bridge-path:
    description: "Set environment variables and change PATH for bridge"
    steps:
      - run:
          name: Configuring PATH
          command: |
            echo 'export PATH=~/bin:~/repo/bridge-venv/bin:${PATH}' >> ${BASH_ENV}
            echo 'export VIRTUAL_ENV=~/repo/bridge-venv' >> ${BASH_ENV}

  upload-docker-image:
    description: "Deploy docker image"
    steps:
      - setup_remote_docker
      - attach_workspace:
          at: '~'
      - run:
          name: Load docker image
          command: |
            du -hc ~/images/*
            docker load --input ~/images/$LOCAL_IMAGE.tar
            docker image ls
      - run:
          name: Login to dockerhub
          command: |
            echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USER" --password-stdin
      - run:
          name: Upload docker images
          command: |
            echo "Uploading to $DOCKER_REPO"

            docker tag $LOCAL_IMAGE $DOCKER_REPO:$CIRCLE_BRANCH$CIRCLE_BUILD_NUM
            docker push $DOCKER_REPO:$CIRCLE_BRANCH$CIRCLE_BUILD_NUM

            docker tag $LOCAL_IMAGE $DOCKER_REPO:$CIRCLE_BRANCH
            docker push $DOCKER_REPO:$CIRCLE_BRANCH

jobs:
  run-black:
    executor: ubuntu-builder
    steps:
      - checkout
      - run:
          name: Create python virtualenv
          command: |
            make setup-venv
      - run:
          name: Install black
          command: |
            venv/bin/pip install -c constraints.txt black
      - run:
          name: Run black
          command: |
            venv/bin/black --exclude venv --check .

  run-flake8:
    executor: ubuntu-builder
    steps:
      - checkout
      - run:
          name: Create python virtualenv
          command: |
            make setup-venv
      - run:
          name: Install flake8
          command: |
            venv/bin/pip install -c constraints.txt flake8 pep8-naming
      - run:
          name: Run flake8
          command: |
            venv/bin/flake8 --exclude venv .


  solium-contracts:
    executor: ubuntu-builder
    steps:
      - checkout
      - config-contracts-path
      - run:
          name: Install ethlint (=solium)
          command: |
            npm install -g 'ethlint@>=1.0.9'
      - run:
          name: Run solium
          command: |
            cd contracts
            solium --dir contracts
  install-contracts:
    executor: ubuntu-builder
    steps:
      - checkout
      - config-contracts-path
      - restore_cache:
          key: contracts-venv-{{ checksum "contracts/constraints.txt" }}-{{ checksum "contracts/requirements.txt" }}
      - create-venv
      - run:
          name: Install requirements
          command: |
            make -C contracts install-requirements
      - save_cache:
          key: contracts-venv-{{ checksum "contracts/constraints.txt" }}-{{ checksum "contracts/requirements.txt" }}
          paths:
            - contracts-venv
      - run:
          name: Install contracts
          command: |
            make -C contracts install
      - persist_to_workspace:
          root: "~"
          paths:
            - repo
  pytest-contracts:
    executor: ubuntu-builder
    steps:
      - attach_workspace:
          at: '~'
      - config-contracts-path
      - run:
          name: Run pytest
          command: pytest contracts/tests

  mypy-auction:
    executor: ubuntu-builder
    steps:
      - attach_workspace:
          at: '~'
      - config-auction-path
      - run:
          name: Run mypy
          command: |
            mypy --ignore-missing-imports tools/auction-deploy/tests tools/auction-deploy/auction_deploy tools/auction-deploy/setup.py

  install-auction:
    executor: ubuntu-builder
    steps:
      - checkout
      - config-auction-path
      - restore_cache:
          key: auction-venv-{{ checksum "tools/auction-deploy/constraints.txt" }}-{{ checksum "tools/auction-deploy/requirements.txt" }}
      - create-venv
      - run:
          name: Install requirements
          command: |
            make -C tools/auction-deploy install-requirements
      - save_cache:
          key: auction-venv-{{ checksum "tools/auction-deploy/constraints.txt" }}-{{ checksum "tools/auction-deploy/requirements.txt" }}
          paths:
            - auction-venv
      - run:
          name: Install auction-deploy
          command: |
            make -C tools/auction-deploy install
      - persist_to_workspace:
          root: "~"
          paths:
            - repo

  pytest-auction:
    executor: ubuntu-builder
    steps:
      - attach_workspace:
          at: '~'
      - config-auction-path
      - run:
          name: Run pytest
          command: |
            cd tools/auction-deploy
            make test
            cd ..

  mypy-validator-set:
    executor: ubuntu-builder
    steps:
      - attach_workspace:
          at: '~'
      - config-validator-set-path
      - run:
          name: Run mypy
          command: |
            mypy --ignore-missing-imports tools/validator-set-deploy/tests tools/validator-set-deploy/validator_set_deploy tools/validator-set-deploy/setup.py

  install-validator-set:
    executor: ubuntu-builder
    steps:
      - checkout
      - config-validator-set-path
      - restore_cache:
          key: validator-set-venv-{{ checksum "tools/validator-set-deploy/constraints.txt" }}-{{ checksum "tools/validator-set-deploy/requirements.txt" }}
      - create-venv
      - run:
          name: Install requirements and validator-set deploy tool
          command: |
            cd tools/validator-set-deploy
            make install
            cd ../..
      - save_cache:
          key: validator-set-venv-{{ checksum "tools/validator-set-deploy/constraints.txt" }}-{{ checksum "tools/validator-set-deploy/requirements.txt" }}
          paths:
            - validator-set-venv
      - persist_to_workspace:
          root: "~"
          paths:
            - repo

  pytest-validator-set:
    executor: ubuntu-builder
    steps:
      - attach_workspace:
          at: '~'
      - config-validator-set-path
      - run:
          name: Run pytest
          command: |
            cd tools/validator-set-deploy
            make test
            cd ../..

  mypy-bridge:
    executor: ubuntu-builder
    steps:
      - attach_workspace:
          at: '~'
      - config-bridge-path
      - run:
          name: Run mypy
          command: |
            mypy --ignore-missing-imports tools/bridge-deploy/tests tools/bridge-deploy/bridge_deploy tools/bridge-deploy/setup.py

  install-bridge:
    executor: ubuntu-builder
    steps:
      - checkout
      - config-bridge-path
      - restore_cache:
          key: bridge-venv-{{ checksum "tools/bridge-deploy/constraints.txt" }}-{{ checksum "tools/bridge-deploy/requirements.txt" }}
      - create-venv
      - run:
          name: Install requirements and bridge deploy tool
          command: |
            cd tools/bridge-deploy
            make install
            cd ../..
      - save_cache:
          key: bridge-venv-{{ checksum "tools/bridge-deploy/constraints.txt" }}-{{ checksum "tools/bridge-deploy/requirements.txt" }}
          paths:
            - bridge-venv
      - persist_to_workspace:
          root: "~"
          paths:
            - repo

  pytest-bridge:
    executor: ubuntu-builder
    steps:
      - attach_workspace:
          at: '~'
      - config-bridge-path
      - run:
          name: Run pytest
          command: |
            cd tools/bridge-deploy
            make test
            cd ../..

  build-docker-image:
    executor: ubuntu-builder
    environment:
      LOCAL_IMAGE: tlbc-testnet-next
    steps:
      - setup_remote_docker
      - checkout
      - run:
          name: Build docker image
          command: |
            docker build -f docker/Dockerfile -t $LOCAL_IMAGE .
      - run:
          name: Save docker image
          command: |
            mkdir -p ~/images
            docker save --output ~/images/$LOCAL_IMAGE.tar $LOCAL_IMAGE
            du -hc ~/images
      - persist_to_workspace:
          root: "~"
          paths:
            - images

  compare-docker-image:
    executor: ubuntu-builder
    environment:
      LOCAL_IMAGE: tlbc-testnet-next
    working_directory: ~/repo
    steps:
      - setup_remote_docker
      - checkout
      - attach_workspace:
          at: '~'
      - run:
          name: Load docker image
          command: |
            du -hc ~/images/*
            docker load --input ~/images/$LOCAL_IMAGE.tar
      - run:
          name: Fetch latest pre-release
          command: |
            docker pull trustlines/tlbc-testnet-next:pre-release
      - run:
          name: Compute image tree summaries
          command: |
            .circleci/show-docker-tree trustlines/tlbc-testnet-next:pre-release >/tmp/tree-pre-release
            .circleci/show-docker-tree $LOCAL_IMAGE >/tmp/tree-local
      - run:
          name: Compare image tree summaries
          command: |
            diff -s /tmp/tree-pre-release /tmp/tree-local || true

  deploy-docker-image:
    executor: ubuntu-builder
    environment:
      LOCAL_IMAGE: tlbc-testnet-next
    working_directory: ~/repo
    steps:
      - run:
          name: set DOCKER_REPO
          command: |
            echo ': \"${DOCKER_REPO:=trustlines/tlbc-testnet-next}\"' >> ${BASH_ENV}
          # this allows us to set DOCKER_REPO from circleci when building in a
          # fork. makes testing easier.
      - upload-docker-image

  deploy-docker-release-image:
    executor: ubuntu-builder
    environment:
      LOCAL_IMAGE: tlbc-testnet-next
    working_directory: ~/repo
    steps:
      - run:
          name: set DOCKER_REPO
          command: |
            echo ': \"${DOCKER_REPO:=trustlines/tlbc-testnet}\"' >> ${BASH_ENV}
          # this allows us to set DOCKER_REPO from circleci when building in a
          # fork. makes testing easier.
      - upload-docker-image
      - run:
          name: upload latest image
          command: |
            docker tag $LOCAL_IMAGE $DOCKER_REPO:latest
            docker push $DOCKER_REPO:latest

workflows:
  version: 2
  default:
    jobs:
      - run-black
      - run-flake8
      - solium-contracts
      - install-contracts
      - pytest-contracts:
          requires:
            - install-contracts
      - install-auction
      - mypy-auction:
          requires:
            - install-auction
      - pytest-auction:
          requires:
            - install-auction
      - install-validator-set
      - mypy-validator-set:
          requires:
            - install-validator-set
      - pytest-validator-set:
          requires:
            - install-validator-set

      - install-bridge
      - mypy-bridge:
          requires:
            - install-bridge
      - pytest-bridge:
          requires:
            - install-bridge

      - build-docker-image

      - deploy-docker-image:
          filters:
            branches:
              only:
                - master
                - pre-release
          requires:
            - solium-contracts
            - run-black
            - run-flake8
            - install-contracts
            - pytest-contracts
            - build-docker-image
          context: docker-credentials

      - compare-docker-image:
          requires:
            - build-docker-image

      - approve-the-release:
          type: approval
          filters:
            branches:
              only:
                - release
          requires:
            - compare-docker-image

      - deploy-docker-release-image:
          filters:
            branches:
              only:
                - release
          requires:
            - approve-the-release
            - solium-contracts
            - run-black
            - run-flake8
            - install-contracts
            - pytest-contracts
            - build-docker-image
          context: docker-release-credentials
