attrs
Click
eth-utils
gevent>=20.5.1  # earlier versions fail to install with python3.9
marshmallow
toml
web3
tenacity
setproctitle
falcon

# --- development dependencies:

contract-deploy-tools
-r ../requirements-dev.txt
