# The Home RPC Address. Should point to a Trustlines RPC Node
HOME_RPC_URL=http://node_home:8545

# The Foreign RPC Address. Should point to a Mainnet / Ropsten RPC Node
FOREIGN_RPC_URL=http://node_foreign:8545

# The Address of the Token Contract on the Foreign Network
TOKEN_CONTRACT_ADDRESS=0x20fE562d797A42Dcb3399062AE9546cd06f63280

# The Address of the Bridge Contract on the Foreign Network
FOREIGN_BRIDGE_CONTRACT_ADDRESS=0x83a30dD54a744c60190548af8d983719116eff4a
